.contact-page-container {
  text-align: left;
}

.btn-add-contact {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  padding: 12px 20px;
  border: none;
  background-color: rgba(240, 126, 126, 0.838);
  color: white;
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(222, 70, 70);
  }
}
