.details-content {
  padding-bottom: 10px;
}

.transfer-section {
  color: white;

  .btn-section {
    width: 100%;
    max-width: 600px;
    top: 35px;
    margin-bottom: 20px;
    margin-top: -10px;

    button {
      color: rgba(0, 0, 0, 0.461);
      border: none;
      font-size: 1.5rem;
      border-radius: 5px;
      padding: 5px 7px;
      background-color: rgba(184, 184, 184, 0.235);
      width: 90px;
      cursor: pointer;
      transition: 0.7s;

      &:hover {
        background-color: rgba(184, 184, 184, 0.625);
        transition: 0.7s;
      }
    }
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 1.5rem;
    color: rgba(205, 202, 202, 0.762);
  }

  h3 {
    font-size: 1.2rem;
    color: rgba(205, 202, 202, 0.762);
    margin-bottom: 80px;
  }

  .transfer-input-section {
    margin-bottom: 40px;

    input {
      border: none;
      font-size: 1.2rem;
      padding: 5px;
      border-radius: 5px 0 0 5px;
      background-color: rgba(52, 51, 51, 0.817);
      color: white;
      width: 150px;
    }

    button {
      border: none;
      background-color: rgba(240, 126, 126, 0.762);
      border-radius: 0 5px 5px 0;
      font-size: 1.2rem;
      color: rgb(211, 211, 211);
      padding: 5px;
      cursor: pointer;
      transition: 0.7s;

      &:hover {
        background-color: rgba(240, 126, 126, 0.906);
        transition: 0.7s;
      }
    }
  }
}
