.moves-history {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;

  h5 {
    color: rgb(203, 196, 196);
    font-size: 1.7rem;
    text-align: left;
    margin: 20px 0;
    font-weight: 500;
    flex: 0 0 50%;
  }

  .t-head {
    padding: 0 5px;
    text-align: left;
  }

  .sort-selector {
    flex: 0 0 30%;
    background-color: rgba(150, 150, 150, 0.338);
    padding: 7px;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .move-list {
    text-align: left;
    padding-bottom: 10px;
    max-height: 330px;
    overflow-y: scroll;
  }
}

.move-preview-container {
  background-color: rgba(0, 0, 0, 0.262);
  padding: 5px;
  border-radius: 5px;
  transition: 0.7s;
  padding: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.502);
    transition: 0.7s;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  .transfer-money {
    font-size: 1.4rem;
    font-weight: 600;

    .bitcoin-rate {
      color: rgba(80, 154, 80, 0.851);
    }

    .transfer-sum {
      color: rgba(154, 154, 154, 0.769);
    }
  }

  .transfer-status {
    color: rgba(255, 255, 255, 0.44);

    .status-title {
      margin-right: 23px;
    }
  }

  .transfer-timestamp {
    color: rgba(255, 255, 255, 0.44);
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }

  .transfer-to {
    span {
      color: rgba(255, 255, 255, 0.44);
    }

    color: white;
  }

  .move-preview-content {
    max-width: 300px;
  }
}
