.chart-container {
    margin: 20px auto 0;
    max-width: 980px;
    background-color: rgba(150, 150, 150, 0.119);
    opacity: 0.85;
  }
  
  .google-chart {
    width: 95%;
    max-width: 400px;
    height: 400px;
  }