.contact-filter-container {
  margin: 0 auto;
  padding: 20px;

  input {
    border: none;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.119);
    padding: 15px;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;

    &:focus {
      background-color: #7981dc61;
      transition: 0.3s;
    }
  }
}
