.contact-edit-content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  color: white;
  padding-bottom: 20px;

  .btn-remove-container {
    position: relative;
    margin: 0 auto;
    max-width: 480px;
  }

  .btn-remove {
    border: none;
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: rgba(147, 147, 147, 0.851);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: rgba(45, 45, 45, 0.653);
      color: rgba(255, 255, 255, 0.701);
      transition: 0.3s;
    }
  }

  .contact-edit-preview {

    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
      object-fit: cover;
    }

    h1 {
      margin-bottom: 30px;
      font-size: 2.5rem;
      color: rgb(196, 199, 220);
      font-weight: 500;
    }

    input,
    label {
      width: 95%;
      max-width: 500px;
      margin-bottom: 10px;
      font-size: 1.3rem;
    }

    input {
      border: none;
      margin-bottom: 20px;
      font-size: 1.5rem;
      border-radius: 5px;
      background-color: rgb(41, 41, 41);
      transition: 0.5s;
      padding: 5px;
      color: white;

      &:last-of-type {
        margin-bottom: 40px;
      }

      &:focus {
        background-color: rgb(94, 94, 94);
        transition: 0.7s;
      }

      &:hover {
        background-color: rgb(94, 94, 94);
        transition: 0.7s;
      }
    }
  }

  .btn-section {
    max-width: 580px;
    margin: 0 auto;

    button {
      border: none;
      font-size: 1.5rem;
      border-radius: 5px;
      padding: 5px 7px;
      background-color: rgb(184, 184, 184);
      color: rgb(120, 119, 119);
      width: 90px;
      cursor: pointer;

      &:first-of-type {
        color: rgba(15, 15, 15, 0.632);
        padding: 5px 50px;
        width: 70%;
        margin-right: 5px;
        background-color: rgba(240, 126, 126, 0.762);
        transition: 0.7s;
      }

      &:hover {
        color: rgb(0, 0, 0);
        background-color: rgba(240, 126, 126, 0.934);
        transition: 0.7s;
      }
    }
  }
}

@media (max-width: 400px) {
  .contact-edit-content {
    .btn-section {
      button:first-of-type {
        width: 55%;
      }
    }
  }
}
