<main>
    <div class="nav-container">
        <nav class="main-nav">
            <a routerLinkActive="active-nav" routerLink="/home">
                <span class="material-icons">home</span>
                Home |
            </a>
            <a routerLinkActive="active-nav" routerLink="/contact">
                <span class="material-icons">group</span>
                Contacts
            </a>
        </nav>
        <mobile-side-nav></mobile-side-nav>
        <a routerLink="/home">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/240px-Bitcoin.svg.png"
                alt="Bitcoin" title="Go home">
        </a>
    </div>
</main>
<router-outlet></router-outlet>