* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1.6;
}

body {
  font-size: rem(18px);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.main-container {
  background-image: url('./app/assets/imgs/app-bg-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

.main-content {
  max-width: 1000px;
  padding: 60px 10px 0;
  margin: 0 auto;
}

.flex {

  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}

// scroll bar//
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a0adc962;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0adc962;
}
